<div class="uk-form-select  uk-width-1-1 uk-button mod-form-dropdown uk-button-large uk-text-left uk-active">
    <small class="uk-display-block uk-width-1-1 ng-binding">{{placeholder}}</small>
    <select-item-text-value class="uk-width-1-1 lr-selected-label">
        <span ng-if="vm.displayValue" class="display-value-item">
    		{{vm.displayValue}}
    	</span>
        <span ng-if="!vm.isLoading && !vm.displayValue" class="empty-value-item">
    		{{emptyItemText || '...'}}
    	</span>
        <span ng-if="vm.isLoading" class="loading-text-item">
            {{loadingItemText}}
        </span>
     </select-item-text-value>
    <i ng-if="!vm.isLoading" class="uk-align-right uk-icon-medium uk-icon uk-icon-arrow_down"></i>
    <div ng-if="vm.isLoading" class="uk-align-right uk-icon-medium uk-icon spinner mini"></div>
    <select-container>
    </select-container>
</div>
