@import "../../../../css/extensions/flexbox.scss";
uk-calendar {
    display: block;
    min-width: 270px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    font-size: 1.1em;
    .uk-datepicker {
        .uk-datepicker-nav {
            margin-bottom: 15px;
            text-align: center;
            line-height: 20px;
            .uk-datepicker-next:after {
                content: "\e916";
                width: 20px;
                float: right
            }
            .uk-datepicker-previous:after {
                content: "\e915";
                width: 20px;
                float: left;
            }
            .uk-datepicker-heading {
                .uk-form-select {
                    text-transform: capitalize;
                    .update-picker-month {
                        option {}
                    }
                }
            }
        }
        .uk-datepicker-table {
            thead {
                tr {
                    th {
                        padding: 1px;
                        font-size: 12px;
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 1px;
                        a {
                            display: block;
                            width: 32px;
                            line-height: 32px;
                            text-align: center;
                            text-decoration: none;
                            border: 1px solid rgba(0, 0, 0, 0);
                            border-radius: 4px;
                            background-origin: border-box;
                            &.uk-active {
                                background: #30b131;
                                color: #fff;
                                border: none;
                                text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
                            }
                            &:hover:not(.uk-active) {
                                background-color: #fafafa;
                                outline: 0;
                                border-color: rgba(0, 0, 0, .2);
                                border-bottom-color: rgba(0, 0, 0, .3);
                                text-shadow: 0 1px 0 #fff;
                            }
                            &.uk-datepicker-table-muted {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}
