<div class="material-input input" ng-class="{'uk-input-error': !vm.isValid()}">
    <input type="text" maxlength="{{vm.phoneLength}}" class="uk-input-prefix" id="{{vm.identifier}}" ng-model="vm.viewValue" onkeypress="return characterNumber(event)" ng-keyup="vm.onKeyUp($event,this)" ng-change="vm.onChange(vm.viewValue)" ng-focus="vm.onFocus()"
        ng-blur="vm.onBlur()" ng-class="{'filled': vm.isFilled()}">
    <span class="material-bar"></span>
    <label for="{{vm.identifier}}">{{placeholder}}</label>
    <i class="uk-i-prefix">{{country}}</i>
</div>
<small class="error filled uk-align-left" ng-if="!vm.isValid() && vm.errorLabel">
	{{vm.errorLabel}}
</small>